html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@media print {
    /* Hide unwanted elements for print */
    header, footer, nav, .btn, .mt-4 > a {
        display: none !important;
    }

    /* Optionally, adjust margins for better print layout */
    body {
        margin: 0;
        padding: 0;
    }

    /* Ensure the table takes full width in print */
    table {
        width: 100%;
    }
}
